<div class="sidebar">

  <div class="menu-item" (click)="toggleDashboard()">
    Dashboard ▼
  </div>

  @if(showDashboard){

    <div class="submenu">

      <div class="menu-item" (click)="toggleDevOps()">
        DevOps ▼
      </div>

      @if(showDevOps){

        <div class="submenu">

          <div class="menu-item" (click)="toggleProjects()">
            Projects ▼
          </div>

          @if(showProjects){

            <div class="submenu">

              <div class="link-item">
                Repos
              </div>

              <div class="link-item">
                Pipelines
              </div>

            </div>

          }

        </div>

      }

      <div class="menu-item">
        Azure
      </div>

    </div>

  }

</div>