.sidebar{
  width:250px;
  padding:10px;
}

.menu-item{
  padding:12px;
  cursor:pointer;
  background:#dfe8f5;
  margin-bottom:5px;
  border-radius:4px;
}

.menu-item:hover{
  background:#cbd8ea;
}

.submenu{
  margin-left:20px;
}

.link-item{
  padding:10px;
  cursor:pointer;
  background:white;
  margin-bottom:5px;
  border-left:3px solid #1e2a3a;
}

.link-item:hover{
  background:#f0f0f0;
}