<div class="sidebar">

  @if(dashboardService.selectedModule === 'DevOps'){

    <div
      class="menu-item"
      (click)="toggleProjects()">

      Projects ▼

    </div>

    @if(showProjects){

      <div class="submenu">

        <div
          class="submenu-item"
          (click)="dashboardService.selectedPage='project1'">

          Project1

        </div>

        <div
          class="submenu-item"
          (click)="dashboardService.selectedPage='repos'">

          Repositories

        </div>

        <div
          class="submenu-item"
          (click)="dashboardService.selectedPage='pipelines'">

          Pipelines

        </div>

      </div>

    }

  }

  @if(dashboardService.selectedModule === 'Azure'){

    <div
      class="menu-item"
      (click)="dashboardService.selectedPage='azure'">

      Azure

    </div>

  }

</div>