.sidebar{
  width:250px;
  background:#f3f4f6;
  min-height:100vh;
  padding:20px;
}

.menu{
  background:#dbeafe;
  padding:12px;
  cursor:pointer;
}

.submenu{
  margin-left:15px;
  padding:10px;
  cursor:pointer;
}

.child{
  margin-left:35px;
  padding:10px;
}